/* ======= Admin Page Styles For the CMS Section ====== */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  font-size: 2rem;
  background-color: #000021;
  color: #fff;
}

.container {
  margin: 20% auto;
  width: 450px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.admin-page {
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.project-nav {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 150px;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 3px 5px;
  border: 1px solid transparent;
  text-align: center;
}

a:hover {
  color: #000021;
  transition: color 0.5s;
}

.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 450px;
  background-color: #838383;
}

.edit-about-me {
  line-height: 100%;
}

.add {
  background-color: aquamarine;
}

.edit {
  background-color: aqua;
}

.delete {
  background-color: #9c1e1e;
}

/* ======= Add/Edit Page Styling ======= */
.add-page,
.edit-page {
  width: 750px;
}

.project-content-list {
  display: flex;
  flex-direction: column;
}

form {
  width: 100%;
}

.project-content-list li {
  display: flex;
}

.project-content-list li label {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
}

.project-content-list li input,
.project-content-list li textarea {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
}

.project-content-list li textarea {
  height: 150px;
}

.submit-button {
  float: right;
  margin-top: 20px;
}

/* ======= Select Page Styling ======= */
.project-selection {
  width: 100%;
  height: 100px;
}

.project-selection select {
  float: right;
}

.select-button {
  background-color: #7fffd486;
  margin-top: 20px;
  float: right;
}

/* ======= Edit Page Styling ======= */
.edit-page {
  justify-content: flex-start;
}

/* ======= Delete Page Styling ======= */
.delete-button {
  background-color: #9c1e1e;
  margin-top: 20px;
  float: right;
}


